.documentation>.developer-home-wrap {
	padding-bottom: 5rem;

	// disable the js title anchors on the homepage
	a.anchor-link {
		display: none !important;
	}

	.menu-wrap+article.content {
		max-width: 100vw !important;
		padding-top: 4.5vw;
	}

	.content.content-docs.content-docs-wide {
		padding-left: 0 !important;

		section {
			margin-left: 5vw !important;
			margin-right: 5vw !important;
			max-width: 90vw !important;
		}

		h1,
		h2,
		h3 {
			color: $oxfordblue;
		}

		h1 {
			padding-bottom: 0;
			margin-top: 0;
			margin-bottom: 2.5rem;
			padding-right: 8vw;
            font-family: $spaceGro;
			font-size: 3.33rem;
			font-weight: 500;
			line-height: 1.33;
			color: $oxforddark;

			&:after {
				display: none;
			}
		}

		h2 {
			margin-bottom: 1.67rem;
		}

		p.lead {
			color: lighten($darkblue, 2.5%);
			max-width: 80%;
			padding-right: 10%;
			font-size: 1.67rem;
			line-height: 1.75;
		}

		section {
			overflow: visible !important;
		}

		&.content-docs-wide>section {
			max-width: 90vw !important;
			margin-left: 5vw !important;
			margin-right: 5vw !important;
			left: auto;
		}
	}

	#projects {
		padding-top: 4.25rem;
	}

	.card-link {
		&::after {
			display: none;
		}
	}

	.card.project {
		min-height: 484px;
		padding-bottom: 5rem;
		border-radius: 0.67rem;
		margin-bottom: 3.333rem;
		border: 1px solid $lavenderfloral;
		background: darken($docsbg1, 1.5%);
		box-shadow: rgba(0, 0, 0, 0.04) 1px 3px 5px;
		overflow: hidden;
		border-radius: 1rem;
		@include transition;

		&:hover {
			box-shadow: rgba(82, 87, 118, 1) 1px 2px 4px;
			margin-top: -3px;

			.card-image {
				background-color: rgba(255, 255, 255, 0.333);
			}
		}

		span.tag {
			position: absolute;
			top: 1rem;
			right: 1rem;
			background-color: rgba($docsbg1, 0.5);
			color: darken($vistablue, 5%);
			border-radius: 1rem;
			font-weight: 400;
			z-index: 750;
		}

		.card-content {
			padding: 0.5rem 2.6rem;
		}

		h3 {
			margin: 0.67rem 0 1.5rem;
			line-height: 1.425;
			font-size: 1.333rem;
			padding-right: 5%;
			color: $oxforddark !important;
			font-weight: 400;
			font-family: $spaceGro;

			a {
				color: $darkblue !important;
			}
		}

		p {
			color: darken($darkblue, 10%) !important;
			line-height: 1.5;
			font-size: 0.875rem;
			font-weight: normal;
			font-family: $work;
		}

		span {
			color: $oxforddark !important;

			&:after {
				display: none !important;
			}

			&:hover {
				background: transparent !important;
			}

		}

		.card-image {
			background-color: transparent;
			position: relative;
			transition: 0.6s background-color ease-in-out;

			figure {
				margin: 0;
			}

			&.dark {
				display: none;
			}
		}

		.button {
			@include button;
			@include upperCase;
			@include transition;
			position: absolute;
			bottom: 2.333rem;
			font-weight: normal !important;
			letter-spacing: .2em;
			padding: 1rem 1.5rem;

			&:hover {
				background-color: $seagreen !important;
				border-color: lighten($seagreen, 1%);
				box-shadow: 0 0.2rem 0.5rem 0 rgba(0, 0, 0, 0.187);
			}
		}
	}

	.wasm-lang {
		position: relative;
		box-shadow: rgba(0, 0, 0, 0.04) 1px 3px 5px;
		overflow: hidden;
		background: $lightlavender;
		min-height: 140px;
		margin-bottom: 6.25em;
		border: 1px solid $lavenderfloral;
		background: darken($docsbg1, 1.5%) url(/static/image/arrow-right.png) no-repeat 95% center;
		border-radius: 1rem;
		@include transition;

		figure.image {
			margin: 0;
		}
		.card-image {
			position: absolute;
			left: 1.5rem;
			top: 0.5rem;
		}

		.card-content {
			padding-left: 12rem;

			h3 {
				margin: 0.67rem 0;
				line-height: 1.425;
				font-size: 1.67rem;
				padding-right: 5%;
				color: $oxforddark !important;
				font-weight: 400;
				font-family: $spaceGro;
	
				a {
					color: $darkblue !important;
				}
			}
	
			p {
				color: darken($darkblue, 10%) !important;
				line-height: 1.5;
				font-size: 0.875rem;
				font-weight: normal;
				font-family: $work;
			}
		}
	}

	.community-highlight {
		background-color: saturate($darkplum, 12.5%);
		border-radius: 0.5rem;
		margin: 0 5vw 0 0;
		padding: 0;
		position: relative;
		min-height: 280px;

		.carousel-cell {
			min-height: 250px;
			width: 100%;
			padding: 2.5rem 2.5rem 1.67rem 3rem;
		}

		event {
			position: relative;
			display: block;
			padding-right: 38%;
		}

		a {
			color: white !important;
		}

		date,
		eventtitle p {
			display: block;
		}

		date {
			color: $seagreen;
			font-size: 0.925rem;
			font-weight: bold;
			text-transform: uppercase;
			letter-spacing: 0.125rem;
			line-height: 1.5;
		}

		eventtitle {
			font-weight: bold;
			font-size: 2rem;
			letter-spacing: 0.025rem;
		}

		p {
			margin: 1.5rem 0 1rem;
			font-size: 1rem;
			line-height: 1.4;
		}

		img {
			position: absolute;
			right: 2rem;
			top: 50%;
			transform: translateY(-50%);
			max-width: 140px;
		}

		&.community-highlight-short {
			min-height: auto;
			margin-top: -1rem;
			margin-bottom: 0;
			background-color: lighten(saturate($darkplum, 12.5%), 7.5%);
			padding-right: 0;

			.event {
				.date {
					width: 33%;
					float: left;
					display: inline-block;
				}

				.eventtitle {
					display: inline-block;
					width: 57%;
					float: left;
				}
			}
		}
	}

	ul.connect-links {
		list-style: none;
		margin: 1rem 0 0;

		li {
			list-style: none;
			line-height: 2;
			margin: 0;

			a {
				color: darken($lavender, 25%);
			}
		}
	}

	.external {
		width: 1.333rem;
		height: 1rem;
		background: url('../image/arrowexternal.svg') no-repeat 0 0;
		display: inline-block;
	}
}