footer.footer-links {
    min-height: auto;
    z-index: 1400;
    background: transparent !important;
    border-top: 1px solid rgba($lavendermid, 0.67) !important;
    margin: 7.25rem auto 0 !important;
    padding: 1.25rem 0 1.25rem !important;

    .level {
        align-items: flex-start;
    }

    .footer-legal {
        p {
            font-size: 0.825rem;
            line-height: 1.5;
            color: #666;
            margin: 0;
        }

        a {
            color: inherit;
            text-decoration: underline;

            &:hover {
                color: $lavenderfloral;
            }
        }
    }

    .footer-social {
        .button.is-text {
            text-decoration: none;
            padding: 0.5rem 0.75rem;

            &:hover {
                background-color: transparent;
                color: $lavenderfloral;
            }
        }
    }

    .navbar {
        background-color: transparent;

        a.navbar-item {
            font-weight: normal;
            font-size: 1.125rem;
            color: $oxforddark;
            border: none;
            background-color: transparent;
            outline: none;
        }
    }

    .footer-logo {
        max-width: 11.5rem;

        &:hover {
            background-color: transparent;
            &:after {
                display: none;
            }
        }
    }
}