{{! This adds the HTML head section and the beginning of the body. See content_top.hbs. }}
{{> content_top }}

<main class="container is-fullwidth is-widescreen page-wrap">
    <div class="columns">

        <div class="column">
            <article class="page content my-8 mx-auto">
                <h1 class="blog-title">{{{page.head.title}}}</h1>

                <div class="blog-meta-wrapper">
                    {{#if this.page.head.extra.author}}
                    <div class="blog-meta-author">
                        <span class="by-label">By</span> {{page.head.extra.author}}
                    </div>
                    {{/if}}

                    {{#if this.page.head.date}}
                    <div class="date">{{date_format "%B %d, %Y" this.page.head.date}}</div>
                    {{/if}}
                </div>

                <div class="blog-body">
                    {{{page.body}}}
                </div>
            </article>

            {{> content_footer }}

        </div><!-- end col -->
    </div>
</main>

{{! This closes the body. See content_bottom.hbs. }}

{{> content_bottom }}

</body>

</html>