<footer class="footer-links" style="max-width: 94vw;">
    <div class="columns is-mobile">
        <div class="column is-half-desktop is-full-mobile">
            <div class="level-item footer-legal">
                <p class="">
                    Spin is a CNCF sandbox project. The Linux Foundation has registered trademarks and uses trademarks.
                    For a list of trademarks of The Linux Foundation, please see our
                    <a href="https://www.linuxfoundation.org/legal/trademark-usage" target="_blank">Trademark Usage page</a>.
                </p>
            </div>
        </div>
        <div class="column is-half-desktop is-full-mobile">
            
                <div class="navbar is-pulled-right footer-social">
                    <a class="navbar-item is-size-5" href="https://github.com/spinframework/spin" target="_blank">GitHub</a>
                    <a class="navbar-item is-size-5" href="https://twitter.com/spinframework" target="_blank">Twitter</a>
                    <a class="navbar-item is-size-5" href="https://cloud-native.slack.com/archives/C089NJ9G1V0" target="_blank">Slack</a>
                </div>
        </div>
    </div>
</footer>